{% extends "main.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2 class="">Your collection</h2>
            {% block collection %}
                {% for movie in movies  %}
                    {{ movie._id }}<br>
                    {{ movie.Title }}<br>
                    {{ movie.imdbID }}<br>
                    {{ movie.Plot }}<br>
                {% endfor %}
            {% endblock collection %}
        </div>

        <div class="col-md-4">
            <h2 class="">Add to your collection</h2>
            <a href="{{ url_for('add_movie') }}">Add Movie</a>
        </div>
    </div>

{% endblock content %}