{% extends "main.html" %}
{% block header %}
<section class="bg-dark edit-media-page">
    <div class="page-image-small">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-12">
                    <div class="my-5 page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2">Currently editing media type: {{ title }}</h1>
                    </div>
                </div>
            </div><!-- end row -->
        </div>
    </div>
</section><!-- end edit media page banner area -->
{% endblock header %}

{% block content %}
<section class="py-5 main-area">
    <div class="container edit-media-page-main-inner">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">     
                <h2>Edit media type: {{ title }}</h2>

                <form action="" method="POST" novalidate>
                    {# CSR token #}
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ form.type.label(class="form-label") }}
                            {% if form.type.errors %}
                                {{ form.type(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.type.errors %}
                                        <span>{{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.type(class="form-control") }} 
                            {% endif %}
                    </div>

                    <div class="mb-3">
                    {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>

            <div class="col-lg-4">
                <h2>View all media types</h2>
                <a href="{{ url_for('dashboard') }}">view all media type categories</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}