{% extends "main.html" %}
{% block header %}
<section class="bg-dark home-page">
    <div class="home-page-image">
    <div class="container home-page-banner-inner py-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-12">
                <div class="my-5 home-page-main-heading">
                    <h1 class="display-5 fw-bolder text-white mb-2 text-center">ALL ABOUT THE MOVIES
                    </h1>
                </div>
            </div>
        </div><!-- end row -->
        <div class="row">
        <div class="col-lg-4">
            <div class="banner-taglines">
                <p class="big-text text-white content-divider-border-small">Archieve your VHS,
                DVD and Blue-Rav movies into collections, you will never need to hunt for a movie on movie night.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="banner-taglines">
                <p class="big-text text-white content-divider-border-small">Find intresting details about each film in yourcollection such as plot, original cover art and more.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="banner-taglines">
                <p class="big-text text-white content-divider-border-small">Keep your collection up to date and never buy a duplicate again.</p>
            </div>
        </div>
        </div><!-- end row -->

    </div>
    </div>
</section><!-- end banner area -->
{% endblock header %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="">MOVIE2ARCHIVE</h2>

            <a href="{{ url_for('movietest') }}">movie test page</a>
        </div>
    </div>

{% endblock content %}