<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Movie2archive | {{ title }}</title>
    {% else %}
        <title>Movie2archive</title>
    {% endif %}
        <meta name="description" content="Movie2archive is an online dvd, Blue Ray and VHS archiving application">
    <!-- Bootstrap compiled css cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" type="text/css" defer>
  </head>

    <!-- Custom css stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <!-- favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple_touch_icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon_32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/favicon_16x16.png') }}">

</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('home') }}"><i class="fa-solid fa-box-open"></i> Movie2Archive</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                Side Menu
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body bg-dark">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                {% if current_user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('collection_all') }}">My Collection</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    <header class="site-header">
      {% block header %}
      {% endblock header %}
    </header>
    <main class="container">
      <div class="row">
            <div class="col-md-12">
              {% with messages = get_flashed_messages (with_categories=true) %}
                  {% if messages %}
                      {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">{{ message }}
                          </div>
                      {% endfor %}
                  {% endif %}
              {% endwith %}
            </div> <!-- end main col-md-12 -->
      </div>
        
            {% block content %}
            {% endblock content %}
    </main>

    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top site-footer">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 copyright">&copy;<span id="copyright"></span> Movie2Archive - Educational project</span>
      </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex social-icons">
      <li class="ms-3">
        <a target="_blank" href="https://www.facebook.com/" rel="noopener">
          <i class="fab fa-facebook" aria-hidden="true"></i>
            <span class="sr-only">Find us on Facebook (opens in a new window)
            </span>
          </a>
      </li>
      <li class="ms-3">
        <a target="_blank" href="https://twitter.com/" rel="noopener">
          <i class="fab fa-twitter" aria-hidden="true"></i>
            <span class="sr-only">Find us on Twitter (opens in a new window)
            </span>
          </a>
      </li>
      <li class="ms-3">
        <a target="_blank" href="https://www.instagram.com/" rel="noopener">
          <i class="fab fa-instagram" aria-hidden="true"></i>
            <span class="sr-only">Find us on Instagram (opens in a new window)</span>
        </a>
      </li>
    </ul>
  </footer>

    <!-- Font awesome css cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" type="text/css" defer>

    <!-- compiled Bootstrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous" defer></script>
    
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>
</html>