{% extends "main.html" %}
{% block header %}
<section class="bg-dark movie-page">
    <div class="page-image-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="my-5 page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2">{{ title }}</h1>
                    </div>
                </div>
            </div><!-- end row -->
        </div>
    </div>
</section><!-- end movie page banner area -->
{% endblock header %}

{% block content %}
<section class="main-area">
<div class="back-link">
<a href="{{ url_for('collection_all') }}"><i class="fa-solid fa-circle-arrow-left" aria-hidden="true"></i> Back to my collection</a>
</div>
    <div class="container movie-page-main-inner">
        <div class="row justify-content-center">
            <div class="col-lg-8">
              <h2 class="">Movie: {{ movie.title }}</h2>
              <h2>My notes about the movie</h2>
                {{movie.notes}}<br>
              <h2>Media type and edition owned</h2>
                {{movie.media}}, {{movie.edition}}<br>
              <h2>Location of movie</h2>
                <p>Your movie is located in your <strong>{{movie.location.location}}</strong> collection.</p>

              <hr>
              
              <!-- Call to MongoDB to gather information -->
                {% for mongo in mongo_movies [0:1]%}
                  <h2>Some intresting facts about {{ movie.title }}</h2>
                
                    <h2>Movie plot</h2>
                    {{ mongo.Plot }}

                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2  py-5">
                      <div class="col d-flex align-items-start">
                        <div>
                          <h4 class="fw-bold mb-0">Director(s)</h4>
                          <p>{{ mongo.Director }}</p>
                        </div>
                      </div>
                      <div class="col d-flex align-items-start">
                        <div>
                          <h4 class="fw-bold mb-0">Writer(s)</h4>
                          <p>{{ mongo.Writer }}</p>
                        </div>
                      </div>
                      <div class="col d-flex align-items-start">
                        <div>
                          <h4 class="fw-bold mb-0">Actor(s)</h4>
                          <p>{{ mongo.Actors }}</p>
                        </div>
                      </div>
                      <div class="col d-flex align-items-start">
                        <div>
                          <h4 class="fw-bold mb-0">Genre(s)</h4>
                          <p>{{ mongo.Genre }}</p>
                        </div>
                      </div>
                      <div class="col d-flex align-items-start">
                        <div>
                          <h4 class="fw-bold mb-0">Release date</h4>
                          <p>{{ mongo.Released }}</p>
                        </div>
                      </div>
                      <div class="col d-flex align-items-start">
                        <div>
                          <h4 class="fw-bold mb-0">Run time</h4>
                          <p>{{ mongo.Runtime }}</p>
                        </div>
                      </div>
                      <div class="col d-flex align-items-start">
                        <div>
                          <h4 class="fw-bold mb-0">Award(s)</h4>
                          <p>{{ mongo.Awards }}</p>
                        </div>
                      </div>
                      <div class="col d-flex align-items-start">
                        <div>
                          <h4 class="fw-bold mb-0">Box office earnings</h4>
                          <p>{{ mongo.BoxOffice }}</p>
                        </div>
                      </div>
                      <div class="col d-flex align-items-start">
                        <div>
                          <h4 class="fw-bold mb-0">imdb Rating</h4>
                          <p>{{ mongo.imdbRating }}</p>
                        </div>
                      </div>
                    </div>
                <hr class="hr-50">
                {% endfor %}
            </div>
              
            <aside class="col-lg-4">
              <section class="box-art">
                <h3 class="">Add a movie to your collection</h3>
                <a href="{{ url_for('add_movie') }}">Add Movie</a>
                <hr>

                <h3>Cover Art</h3>
                <!-- Call to MongoDB to gather information -->
                  {% for art in mongo_art [0:1] %}
                  <img src="{{ art.Poster }}" alt="{{ art.Title }}"><br>
                  <small clas="muted"><i>Image provided through 1MDB Data Searching api</i></small>
                  {% endfor %}
                <hr>
                <a class="btn btn-m2a" href="{{ url_for('edit_movie', movie_id=movie.id) }}">Update Movie</a>
                
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_modal_movie-{{ movie.id }}">Delete this movie</button>
                <hr class="hr-50">

                <!-- Modal -->
                <div class="modal fade" id="delete_modal_movie-{{ movie.id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title" id="ModalLabel">Confirm deletion of movie ({{ movie.title }})</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Please read:<br>
                        You are about to delete Movie <strong>{{ movie.title }}</strong> from your collection.</p>
                        <p>Please be aware that deleting a movie will remove it permantly from your collection</p>
                        <p><strong>This action is permanant and cannot be reversed.</strong>.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{{ url_for('delete_movie', movie_id=movie.id) }}" method="POST">
                          <input class="btn btn-danger" type="submit" value="I understand, Delete movie">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end modal -->

              </section>
            </aside>
        </div>
    </div>
  </section>
{% endblock content %}