{% extends "main.html" %}
{% block header %}
    <section class="bg-dark py-5 profile-page ">
            <div class="container profile-page-inner">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Welcome to your profile, {{ current_user.username }}</h1>
                            <p class="lead text-white-50 mb-4">You can manage your account using the links on this page.</p>
                            <p class="lead text-white-50 mb-4">Stuck on what to do first, try adding a Movie to your collection.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="text-center my-5">
                        
                        {% for movies in user_movies %}
                        {# {{loop(`user_id`).length }} #}
                        {# {{ user_movies|list|length }} #}
                            
                        
                        {% endfor %}
                            <h2 class="display-5 fw-bolder text-white mb-2">Movies in collection</h2>
                            <p class="big-text text-white" style="font-size: 5rem;">{{ user_movies|list|length }}</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock header %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2 class="">Welcome to your profile, {{ current_user.username }}</h2>
            <p>Manage your account here.</p>
            <ul>
                <li>View my collection</li>
                <li>Add a Movie to my collection</li>
                <li>Edit a movie in my collection</li>
                <li>Delete a movie from my collection</li>
            </ul>
        </div>

        {% if current_user.is_authenticated and current_user.id == 1 %}
        <div class="col-md-6">
            <h2 class="">Admin actions</h2>
            <p>Manage the site here.</p>
                <ul>
                    <li><a class="nav-link" href="{{ url_for('dashboard') }}">Go to Dashboard</a></li>
                    <li><a href="{{ url_for('add_media_cat') }}">Add a Media type category</a></li>
                    <li>Add a location type category</li>
                </ul>
        </div>
        {% endif %}
    </div>
{% endblock content %}