{% extends "main.html" %}
{% block header %}
<section class="bg-dark register-page mb-3">
    <div class="page-image-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="my-5 page-main-heading">
                        <h1 class="display-5 fw-bolder text-white mb-2">{{ title }}</h1>
                    </div>
                </div>
            </div><!-- end row -->
        </div>
    </div>
</section><!-- end login page banner area -->
{% endblock header %}

{% block content %}
<section class="main-area">
   <div class="container login-main-inner">
      <div class="row justify-content-center">
         <div class="col-lg-8">
            <h2>Create your Account</h2>
            <p><small>All fields marked with a * are required</small></p> 
            <form action="/register" method="post" novalidate>
            {# CSR token #}
               {{ form.hidden_tag() }}
               <div class="mb-3">
                  {{ form.username.label(class="form-label") }}
                  {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                           <div class="invalid-feedback">
                              {% for error in form.username.errors %}
                                 <span>{{ error }}
                              {% endfor %}
                           </div>
                     {% else %}
                        {{ form.username(class="form-control") }} 
                  {% endif %}
               </div>

               <div class="mb-3">
                  {{ form.email.label(class="form-label") }}
                  {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                           <div class="invalid-feedback">
                              {% for error in form.email.errors %}
                                 <span>{{ error }}
                              {% endfor %}
                           </div>
                     {% else %}
                        {{ form.email(class="form-control") }} 
                  {% endif %}
               </div>

               <div class="mb-3">
                  {{ form.password.label(class="form-label") }}
                  {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                           <div class="invalid-feedback">
                              {% for error in form.password.errors %}
                                 <span>{{ error }}
                              {% endfor %}
                           </div>
                     {% else %}
                        {{ form.password(class="form-control") }} 
                  {% endif %}
               </div>

               <div class="mb-3">
                  {{ form.password2.label(class="form-label") }}
                  {% if form.password2.errors %}
                        {{ form.password2(class="form-control is-invalid") }}
                           <div class="invalid-feedback">
                              {% for error in form.password2.errors %}
                                 <span>{{ error }}
                              {% endfor %}
                           </div>
                     {% else %}
                        {{ form.password2(class="form-control") }} 
                  {% endif %}
               </div>

               <div class="mb-3">
                  {{ form.submit(class="btn btn-m2a") }}
               </div>
            </form>
         </div>

         <div class="col-md-4">
            <h2>Already have an account?</h2>
            <p>Login and start adding to your collection.</p>
            <a href="{{ url_for('login') }}">Login now</a>
         </div><!-- end col 4 -->
      </div>
   </div>
</section><!-- end register page main area -->
{% endblock content %}